.author-info {
  padding: 1em;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.author-info-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 1em;
}

.author-header-info__avatar {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: start;
}

.author-header-info__avatar > div {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.author-header-info__name {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: start;
}

.author-info__main {
  color: #aaa;
}

.header-info__twitter {
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: start;
}

.author-info__main-work {
  color: black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.author-info__main-social-networks {
  margin-top: 1em;
}
